v-content.home
  v-container(fluid="" fill-height="")
    v-layout(justify-center="" align-center="")
      v-layout(row wrap)
        v-flex(xs12)
          img(alt="Vue logo" src="../../assets/logo.png")
        v-flex(xs12)
          .title {{ title }}
